/*********************************************/
/*          IMPORTS                          */
/*********************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import '../node_modules/semantic-ui-css/semantic.min.css';


/*********************************************/
/*                  PARTIALS                 */
/*********************************************/
@import "./scss/_variables";


/*********************************************/
/*              GENERAL CSS                 "/
/*********************************************/

body {
    margin: 0;
    width: 100%;
    position: relative;
    color: $main-color;
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ui.loader {
    &:after {
        border-color: $spinner-color transparent transparent;
    }
}

.ui.secondary.pointing.menu .item {
    border-bottom-color: transparent;
    border-bottom-style: unset;
    border-bottom-width: unset;
}

.ui.cards a.card:hover, .ui.link.card:hover, .ui.link.cards .card:hover, a.ui.card:hover {
    transform: translateY(0);
}

.ui.segment, .ui.table, .ui.card {
    box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.ui.pagination.menu .active.item {
    background-color: $active-page-bgcolor;
    color: white;
    border-radius: 5px;
}

.ui.table {
    tr {

        &:nth-child(odd) {
            background-color: #e6e6e6;
        }

        td {
            border-top: unset;
        }
    }
}
